@tailwind base;
@tailwind components;
@tailwind utilities;

.subheading-1 {
  @apply font-bellefair;
  font-size: 28px;
}

.subheading-2 {
  @apply font-barlowCondensed;
  font-size: 14px;
  letter-spacing: 2.35px;
}

.nav-text {
  @apply font-barlowCondensed;
  font-size: 16px;
  letter-spacing: 2.7px;
}

@layer base {
  h1 {
    @apply font-bellefair;
    font-size: 80px;
  }
  @media screen(md) {
    h1 {
      font-size: 150px;
    }
  }

  h2 {
    @apply font-bellefair;
    font-size: 100px;
  }

  h3 {
    @apply font-bellefair;
    font-size: 56px;
  }

  h4 {
    @apply font-bellefair;
    font-size: 32px;
  }

  h5 {
    @apply font-barlowCondensed;
    font-size: 28px;
    letter-spacing: 4.75px;
  }

  p {
    @apply font-barlow;
    font-size: 18px;
  }
}
